<% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.content %>
      </div>
<% end %>

<%= form_for(@test) do |f| %>
  <div class="field">
    <%= f.label :投稿内容 %>
    <%= f.text_field :content, size:25 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
